body {
    background-color: #e3d9c0;

}

.flex-container {
    display: flex;
}

hr {
    border: 2px solid black;
}

.headernew img {
    width: 50vw;
    margin-top: 10px;
}


.column 
{
    flex: 50%;
    margin: -12px 0px 0px 10px;


}

.menu a 
{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

button {
    border: 2px solid black;
    background-color: #e3d9c0;
    text-transform: uppercase;
    font-weight: bold;
    flex: 50%;
}

.button a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


.button {
    display: flex;
    flex-direction: row;
}

.footer a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

footer {
    direction: rtl;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


.old:hover .Slider1 
{
display: none;
}